:root {
    /* dark mode */
    --dark-text: #cfcdfe;
    --dark-background: #030132;
    --dark-primary-button: #46027e;
    --dark-secondary-button: #460143;
    --dark-accent: #190018;
    --dark-border: 
    
    /* light mode */
    --light-text: #020204;
    --light-background: #f0eff6;
    --light-primary-button: #460143;
    --light-secondary-button: #f5f4fa;
    --light-accent: #46027e; 
    --light-border: #bbbbbb; 
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "header header header header" 
                         "sidebar catalogo catalogo catalogo"
                         "sidebar catalogo catalogo catalogo"
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh auto auto;
    background-color: var(--light-background);
    gap: 1em;
}
header {
    grid-area: header;
    display: inline-flex;
    width:100%;
    border-bottom: 1px solid var(--light-border);
    justify-content: center;
    background: white;
}
aside {
    grid-area: sidebar;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .filter {
    margin-bottom: 20px;
  }
  
  .filter h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .filter-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .filter-button:hover {
    background-color: #0056b3;
  }
.logo {
    display: block;
    max-width:100%;
}
.catalogo {
    grid-area: catalogo;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 16em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding:0;
}
.card-img {
    width: 100%;
    object-fit: fill;
    height: auto;
    display: block;
    margin:0;
}
button {
    background-color: var(--dark-secondary-button);
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .precio {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
  }